@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --dark-Cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    display: flex;
    width: 45%;
    border-radius: 10px;
}

.product-left{
    width: 50%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}
.product-left > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-mobile{
    display: none;
}

.product-right{
    width: 50%;
    background-color: var(--white);
    padding: 32px;
    border-radius: 0px 10px 10px 0;
}

.product-subtitle{
    color: var(--dark-grayish-blue);
    letter-spacing: 7px;
    font-size: 12px;
}

.product-title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin: 15px 0;
}

.product-text{
    font-size: 15px;
    color: var(--dark-grayish-blue);
    margin-top: 25px;
}

.product-price{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--dark-Cyan);
    font-size: 35px;
    font-family: 'Fraunces', serif;
    margin-bottom: 30px;
}

.product-price > span{
    font-size: 15px;
    margin-left: 20px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

button{
    width: 100%;
    padding: 15px 25px;
    text-align: center;
    color: white;
    background-color: var(--dark-Cyan);
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 35px;
}

button:active{
    background-color: hsl(158, 36%, 25%);
    cursor: pointer;
}

@media (max-width:375px) {
    body{
        height: auto;
        margin: 30px 15px;
    }
    .product{
        flex-direction: column;
        width: 100%;

    }
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .product-left,
    .product-right{
        width: 100%;
    }
    .product-left{
        border-radius: 10px 10px 0 0;
    }
    .product-right{
        border-radius: 0px 0px 10px 10px;
        padding: 20px 15px;
    }
}

